<a href="https://colab.research.google.com/github/rabiizahnoune/azure_projet/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [134]:
from pyspark.sql import SparkSession

# Cr√©er une session Spark
spark = SparkSession.builder.appName("ColabPySpark").getOrCreate()

In [135]:
df = spark.read.parquet("/content/green_tripdata_2022-01.parquet")

In [136]:
df.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2022-01-01 00:14:21|  2022-01-01 00:15:33|                 N|       1.0|          42|          42|            1.0|         0.44|        3.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         4.8|         2.0|      1.0|                 0.0|
|       1| 2022-01-01 00:20:55|  2022-01-01 00:29:38|                 N|       1.0|         116|          41|            1.0|          2.1|        9.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        10.8|         2.0|      1.0|                 0.0|
|       1| 2022-01-01 00:57:02|  2022-01-01 01:13:14|                 N|       1.0|          41|         140|            1.0|          3.7|       14.5| 3.25|    0.5|       4.6|         0.0|     NULL|                  0.3|       23.15|         1.0|      1.0|                2.75|
|       2| 2022-01-01 00:07:42|  2022-01-01 00:15:57|                 N|       1.0|         181|         181|            1.0|         1.69|        8.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         9.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:07:50|  2022-01-01 00:28:52|                 N|       1.0|          33|         170|            1.0|         6.26|       22.0|  0.5|    0.5|      5.21|         0.0|     NULL|                  0.3|       31.26|         1.0|      1.0|                2.75|
|       1| 2022-01-01 00:47:57|  2022-01-01 00:54:09|                 N|       1.0|         150|         210|            1.0|          1.3|        7.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:13:38|  2022-01-01 00:33:50|                 N|       1.0|          66|          67|            1.0|         6.47|       22.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        23.8|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:43:00|  2022-01-01 00:49:20|                 N|       1.0|          40|         195|            1.0|         1.15|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:41:04|  2022-01-01 00:47:04|                 N|       1.0|         112|          80|            1.0|          1.3|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:51:07|  2022-01-01 01:09:31|                 N|       1.0|         256|         186|            1.0|         4.75|       17.0|  0.5|    0.5|      4.21|         0.0|     NULL|                  0.3|       25.26|         1.0|      1.0|                2.75|
|       2| 2021-12-31 23:44:03|  2021-12-31 23:57:25|                 N|       1.0|          75|           4|            1.0|         6.03|       18.5|  0.5|    0.5|       1.5|         0.0|     NULL|                  0.3|       24.05|         1.0|      1.0|                2.75|
|       2| 2022-01-01 00:06:59|  2022-01-01 00:21:24|                 N|       1.0|          41|         116|            1.0|         2.82|       12.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        13.8|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:47:35|  2022-01-01 00:50:20|                 N|       1.0|          75|          74|            1.0|          0.7|        4.5|  0.5|    0.5|      1.45|         0.0|     NULL|                  0.3|        7.25|         1.0|      1.0|                 0.0|
|       2| 2022-01-01 00:10:25|  2022-01-01 23:10:29|                 N|       1.0|          74|         260|            1.0|         5.48|       17.5|  0.5|    0.5|       0.0|        6.55|     NULL|                  0.3|       25.35|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:52:27|  2022-01-01 01:25:16|                 N|       1.0|          74|         231|            1.0|         7.54|       26.5|  0.5|    0.5|      6.11|         0.0|     NULL|                  0.3|       36.66|         1.0|      1.0|                2.75|
|       1| 2022-01-01 00:47:31|  2022-01-01 00:49:51|                 N|       1.0|          74|          42|            1.0|          0.9|        4.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         5.8|         3.0|      1.0|                 0.0|
|       1| 2022-01-01 00:59:10|  2022-01-01 01:21:02|                 N|       1.0|          41|          94|            1.0|          6.2|       21.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        22.8|         1.0|      1.0|                 0.0|
|       2| 2022-01-01 00:12:00|  2022-01-01 00:26:26|                 N|       5.0|         213|         174|            1.0|         5.57|       20.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|        20.3|         2.0|      2.0|                 0.0|
|       2| 2022-01-01 00:47:15|  2022-01-01 00:53:07|                 N|       1.0|          51|         185|            1.0|         1.87|        7.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:54:40|  2022-01-01 01:17:02|                 N|       5.0|         185|         119|            1.0|          6.6|       25.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|        25.3|         2.0|      2.0|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [137]:
from pyspark.sql.functions import col

In [138]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- lpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [139]:
#changer le typde de colone date
df = df.withColumn("lpep_pickup_datetime", col("lpep_pickup_datetime").cast("timestamp"))

In [140]:
from pyspark.sql.functions import min, max

# R√©cup√©rer les dates min et max
min_max_dates = df.select(
    min("lpep_pickup_datetime").alias("min_date"),
    max("lpep_pickup_datetime").alias("max_date")
).collect()

min_date = min_max_dates[0]["min_date"]
max_date = min_max_dates[0]["max_date"]

print(f"üìÖ Plage de dates : {min_date} ‚ûù {max_date}")

üìÖ Plage de dates : 2009-01-01 00:34:01 ‚ûù 2022-01-31 23:57:37

In [141]:
from pyspark.sql.functions import year

# Filtrer les lignes o√π l'ann√©e est diff√©rente de 2022
df_not_2022 = df.filter(year("lpep_pickup_datetime") != 2022)

# Compter ces lignes
count_not_2022 = df_not_2022.count()

print(f"üìä Nombre de lignes o√π la date n'est pas en 2022 : {count_not_2022}")

üìä Nombre de lignes o√π la date n'est pas en 2022 : 4

In [142]:
df.count()

62495

In [143]:
from pyspark.sql.functions import month

# Filtrer les lignes o√π le mois  est diff√©rente de 01
df_not_1 = df.filter(month("lpep_pickup_datetime") != 1)

# Compter ces lignes
count_not_1 = df_not_1.count()

print(f"üìä Nombre de lignes o√π la date n'est pas en 1 : {count_not_1}")

üìä Nombre de lignes o√π la date n'est pas en 1 : 3

In [144]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import (
    col, year, month, dayofmonth, to_date, lit, when, lpad, concat, count
)

def replace_with_mode(df, date_column):
    """
    Remplace l'ann√©e et le mois par les valeurs les plus fr√©quentes (mode).

    :param df: DataFrame PySpark contenant une colonne de type date
    :param date_column: Nom de la colonne de type date
    :return: DataFrame avec les ann√©es et mois remplac√©s par leurs modes respectifs
    """

    # Calculer le mode de l'ann√©e (year)
    mode_year = df.groupBy(year(col(date_column)).alias("year")) \
                  .count() \
                  .orderBy(col("count").desc()) \
                  .first()["year"]

    # Calculer le mode du mois (month)
    mode_month = df.groupBy(month(col(date_column)).alias("month")) \
                   .count() \
                   .orderBy(col("count").desc()) \
                   .first()["month"]

    print(f"Mode Year: {mode_year}, Mode Month: {mode_month}")

    # Remplacer l'ann√©e et le mois par leur mode respectif
    df = df.withColumn(
        date_column,
        to_date(
            concat(
                lit(f"{mode_year}-"),
                lpad(when(month(col(date_column)) != mode_month, lit(mode_month))
                     .otherwise(month(col(date_column))).cast("string"), 2, "0"),
                lit("-"),
                lpad(dayofmonth(col(date_column)).cast("string"), 2, "0")
            ),
            "yyyy-MM-dd"
        )
    )

    return df

In [145]:
df=replace_with_mode(df,'lpep_pickup_datetime')

Mode Year: 2022, Mode Month: 1

In [146]:
#checker outliers de date = 2019
from pyspark.sql.functions import year

# Filtrer les lignes o√π l'ann√©e est diff√©rente de 2022
df_not_2022 = df.filter(year("lpep_pickup_datetime") != 2022)

# Compter ces lignes
count_not_2022 = df_not_2022.count()

print(f"üìä Nombre de lignes o√π la date n'est pas en 2022 : {count_not_2022}")
from pyspark.sql.functions import month

# Filtrer les lignes o√π le mois  est diff√©rente de 01
df_not_1 = df.filter(month("lpep_pickup_datetime") != 1)

# Compter ces lignes
count_not_1 = df_not_1.count()

print(f"üìä Nombre de lignes o√π la date n'est pas en 1 : {count_not_1}")

üìä Nombre de lignes o√π la date n'est pas en 2022 : 0
üìä Nombre de lignes o√π la date n'est pas en 1 : 0

***creation d un table dim_Date_depart***

In [147]:
# G√©n√©rer l'ID unique bas√© sur la date et l'heure

from pyspark.sql.functions import col, year, month, dayofmonth, hour, minute, second, concat, lpad, lit
df = df.withColumn(
    "idda_te",
    concat(
        year(col("lpep_pickup_datetime")),
        lpad(month(col("lpep_pickup_datetime")).cast("string"), 2, "0"),
        lpad(dayofmonth(col("lpep_pickup_datetime")).cast("string"), 2, "0"),
        lpad(hour(col("lpep_pickup_datetime")).cast("string"), 2, "0"),
        lpad(minute(col("lpep_pickup_datetime")).cast("string"), 2, "0"),
        lpad(second(col("lpep_pickup_datetime")).cast("string"), 2, "0")
    )
)

In [148]:
def create_dim_date_depart(df):
  df_dim_date_depart = df.select(
    "idda_te",  # Identifiant unique
    year(col("lpep_pickup_datetime")).alias("year"),
    month(col("lpep_pickup_datetime")).alias("month"),
    dayofmonth(col("lpep_pickup_datetime")).alias("day"),
    hour(col("lpep_pickup_datetime")).alias("hour"),
    minute(col("lpep_pickup_datetime")).alias("minute"),
    second(col("lpep_pickup_datetime")).alias("second"),
    "lpep_pickup_datetime"  # Ajouter la colonne de date-heure originale
)
  return df_dim_date_depart

In [149]:
# Construire la table de dimension date (dim_date)
df_dim_date_depart = create_dim_date_depart(df)

# Afficher les premi√®res lignes pour v√©rifier
df_dim_date_depart.show(10, truncate=False)

+--------------+----+-----+---+----+------+------+--------------------+
|idda_te       |year|month|day|hour|minute|second|lpep_pickup_datetime|
+--------------+----+-----+---+----+------+------+--------------------+
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
+--------------+----+-----+---+----+------+------+--------------------+
only showing top 10 rows

# ***creation de table de dimension dim_date_finale***

In [150]:
#checker outliers de date = 2019
from pyspark.sql.functions import year

# Filtrer les lignes o√π l'ann√©e est diff√©rente de 2022
df_not_2022 = df.filter(year("lpep_dropoff_datetime") != 2022)

# Compter ces lignes
count_not_2022 = df_not_2022.count()

print(f"üìä Nombre de lignes o√π la date n'est pas en 2022 : {count_not_2022}")
from pyspark.sql.functions import month

# Filtrer les lignes o√π le mois  est diff√©rente de 01
df_not_1 = df.filter(month("lpep_dropoff_datetime") != 1)

# Compter ces lignes
count_not_1 = df_not_1.count()

print(f"üìä Nombre de lignes o√π la date n'est pas en 1 : {count_not_1}")

üìä Nombre de lignes o√π la date n'est pas en 2022 : 3
üìä Nombre de lignes o√π la date n'est pas en 1 : 15

In [151]:
df = replace_with_mode(df,'lpep_dropoff_datetime')

Mode Year: 2022, Mode Month: 1

In [152]:
# G√©n√©rer l'ID unique bas√© sur la date et l'heure

from pyspark.sql.functions import col, year, month, dayofmonth, hour, minute, second, concat, lpad, lit
df = df.withColumn(
    "id_date_finale",
    concat(
        year(col("lpep_dropoff_datetime")),
        lpad(month(col("lpep_dropoff_datetime")).cast("string"), 2, "0"),
        lpad(dayofmonth(col("lpep_dropoff_datetime")).cast("string"), 2, "0"),
        lpad(hour(col("lpep_dropoff_datetime")).cast("string"), 2, "0"),
        lpad(minute(col("lpep_dropoff_datetime")).cast("string"), 2, "0"),
        lpad(second(col("lpep_dropoff_datetime")).cast("string"), 2, "0")
    )
)

In [153]:
def create_dim_date_finale(df):
  df_dim_date_finale = df.select(
    "idda_te",  # Identifiant unique
    year(col("lpep_pickup_datetime")).alias("year"),
    month(col("lpep_pickup_datetime")).alias("month"),
    dayofmonth(col("lpep_pickup_datetime")).alias("day"),
    hour(col("lpep_pickup_datetime")).alias("hour"),
    minute(col("lpep_pickup_datetime")).alias("minute"),
    second(col("lpep_pickup_datetime")).alias("second"),
    "lpep_pickup_datetime"  # Ajouter la colonne de date-heure originale
)
  return df_dim_date_finale

In [154]:
# Construire la table de dimension date (dim_date)
df_dim_date_finale = create_dim_date_finale(df)

# Afficher les premi√®res lignes pour v√©rifier
df_dim_date_finale.show(10, truncate=False)

+--------------+----+-----+---+----+------+------+--------------------+
|idda_te       |year|month|day|hour|minute|second|lpep_pickup_datetime|
+--------------+----+-----+---+----+------+------+--------------------+
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
|20220101000000|2022|1    |1  |0   |0     |0     |2022-01-01          |
+--------------+----+-----+---+----+------+------+--------------------+
only showing top 10 rows

# ***une fonction pour voire le nombre des valeurs null***

In [155]:
from pyspark.sql.functions import col, isnan, when, count

def calculer_valeur_null(df,x):
    # V√©rifier si la colonne existe dans le DataFrame
    if x not in df.columns:
        print(f"La colonne '{x}' n'existe pas dans le DataFrame.")
        return

    # Calculer le nombre de valeurs nulles ou NaN
    df.select(count(when(isnan(x) | col(x).isNull(), 1)).alias(x)).show()

# ***table Dim_payment***

In [156]:
calculer_valeur_null(df,'payment_type')

+------------+
|payment_type|
+------------+
|        6295|
+------------+

In [157]:
mode_value = df.groupBy('payment_type').count().orderBy('count', ascending=False).first()['payment_type']
print(f"La valeur la plus fr√©quente de 'payment_type' est : {mode_value}")

La valeur la plus fr√©quente de 'payment_type' est : 1.0

In [158]:
df = df.fillna({'payment_type': mode_value})

In [159]:
df.select("payment_type").distinct().show()

+------------+
|payment_type|
+------------+
|         1.0|
|         4.0|
|         3.0|
|         2.0|
|         5.0|
+------------+

In [160]:
# Cr√©er la table de dimension type_payment
data_type_payment = [
    (1, "credit_card"),
    (2, "cash"),
    (3, "no_charge"),
    (4, "dispute"),
    (5, "unknown"),
    (6, "voided_trip")
]

# Colonnes : id_payment (identifiant) et type_payment (libell√©)
columns = ["id_payment", "type_payment"]

# Cr√©er un DataFrame PySpark pour la table de dimension
df_type_payment_dim = spark.createDataFrame(data_type_payment, columns)

# Afficher la table de dimension type_payment
df_type_payment_dim.show()

+----------+------------+
|id_payment|type_payment|
+----------+------------+
|         1| credit_card|
|         2|        cash|
|         3|   no_charge|
|         4|     dispute|
|         5|     unknown|
|         6| voided_trip|
+----------+------------+

# ***creation table de dimension trip_type***

In [161]:
calculer_valeur_null(df,'trip_type')

+---------+
|trip_type|
+---------+
|     6295|
+---------+

In [162]:
df.select('trip_type').distinct().show()

+---------+
|trip_type|
+---------+
|      1.0|
|      2.0|
|     NULL|
+---------+

In [163]:
mode_valeu_trip  = df.groupBy('trip_type').count().orderBy('count',ascending=False).first()['trip_type']
print(f"La valeur la plus fr√©quente de 'trip_type' est : {mode_valeu_trip}")

La valeur la plus fr√©quente de 'trip_type' est : 1.0

In [164]:
df = df.fillna({'trip_type': mode_valeu_trip})

In [165]:
#creer la table de dimension type_trip
data_type_trip = [
    (1, "Street-hail"),
    (2, "Dispatch"),
    (3, "Unknown")
]

columns = ['id_trip', 'type_trip']

df_type_trip_dim = spark.createDataFrame(data_type_trip, columns)

df_type_trip_dim.show()

+-------+-----------+
|id_trip|  type_trip|
+-------+-----------+
|      1|Street-hail|
|      2|   Dispatch|
|      3|    Unknown|
+-------+-----------+

In [166]:
table_dim_location = spark.read.csv("/content/taxi_zone_lookup.csv", header=True, inferSchema=True)

In [167]:
table_dim_location.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [168]:
df.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+--------------+--------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|       idda_te|id_date_finale|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+--------------+--------------+
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|          42|          42|            1.0|         0.44|        3.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         4.8|         2.0|      1.0|                 0.0|20220101000000|20220101000000|
|       1|          2022-01-01|           2022-01-01|                 N|       1.0|         116|          41|            1.0|          2.1|        9.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        10.8|         2.0|      1.0|                 0.0|20220101000000|20220101000000|
|       1|          2022-01-01|           2022-01-01|                 N|       1.0|          41|         140|            1.0|          3.7|       14.5| 3.25|    0.5|       4.6|         0.0|     NULL|                  0.3|       23.15|         1.0|      1.0|                2.75|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|         181|         181|            1.0|         1.69|        8.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         9.3|         2.0|      1.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|          33|         170|            1.0|         6.26|       22.0|  0.5|    0.5|      5.21|         0.0|     NULL|                  0.3|       31.26|         1.0|      1.0|                2.75|20220101000000|20220101000000|
|       1|          2022-01-01|           2022-01-01|                 N|       1.0|         150|         210|            1.0|          1.3|        7.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|         2.0|      1.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|          66|          67|            1.0|         6.47|       22.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        23.8|         2.0|      1.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|          40|         195|            1.0|         1.15|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|         2.0|      1.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|         112|          80|            1.0|          1.3|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|         2.0|      1.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|         256|         186|            1.0|         4.75|       17.0|  0.5|    0.5|      4.21|         0.0|     NULL|                  0.3|       25.26|         1.0|      1.0|                2.75|20220101000000|20220101000000|
|       2|          2022-01-31|           2022-01-31|                 N|       1.0|          75|           4|            1.0|         6.03|       18.5|  0.5|    0.5|       1.5|         0.0|     NULL|                  0.3|       24.05|         1.0|      1.0|                2.75|20220131000000|20220131000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|          41|         116|            1.0|         2.82|       12.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        13.8|         2.0|      1.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|          75|          74|            1.0|          0.7|        4.5|  0.5|    0.5|      1.45|         0.0|     NULL|                  0.3|        7.25|         1.0|      1.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|          74|         260|            1.0|         5.48|       17.5|  0.5|    0.5|       0.0|        6.55|     NULL|                  0.3|       25.35|         2.0|      1.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|          74|         231|            1.0|         7.54|       26.5|  0.5|    0.5|      6.11|         0.0|     NULL|                  0.3|       36.66|         1.0|      1.0|                2.75|20220101000000|20220101000000|
|       1|          2022-01-01|           2022-01-01|                 N|       1.0|          74|          42|            1.0|          0.9|        4.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         5.8|         3.0|      1.0|                 0.0|20220101000000|20220101000000|
|       1|          2022-01-01|           2022-01-01|                 N|       1.0|          41|          94|            1.0|          6.2|       21.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        22.8|         1.0|      1.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       5.0|         213|         174|            1.0|         5.57|       20.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|        20.3|         2.0|      2.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       1.0|          51|         185|            1.0|         1.87|        7.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|         2.0|      1.0|                 0.0|20220101000000|20220101000000|
|       2|          2022-01-01|           2022-01-01|                 N|       5.0|         185|         119|            1.0|          6.6|       25.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|        25.3|         2.0|      2.0|                 0.0|20220101000000|20220101000000|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+--------------+--------------+
only showing top 20 rows

# ***creation table de dim_ratecode***

In [169]:
#verfier les valeurs nulls
calculer_valeur_null(df,'RatecodeID')

+----------+
|RatecodeID|
+----------+
|      6295|
+----------+

In [170]:
df_dim_ratecode = [(1,"standard_rate"),
                   (2,"JFK"),
                   (3,"newark"),
                   (4,"nassau or wertechster"),
                   (5,"negotiated fare"),
                   (6,"group ride")]

colone = ['id_ratecode','ratecode']
df_ratecode_dim = spark.createDataFrame(df_dim_ratecode,colone)

In [171]:
df_ratecode_dim.show()

+-----------+--------------------+
|id_ratecode|            ratecode|
+-----------+--------------------+
|          1|       standard_rate|
|          2|                 JFK|
|          3|              newark|
|          4|nassau or wertech...|
|          5|     negotiated fare|
|          6|          group ride|
+-----------+--------------------+

# ***creation table de dim vendeur***

In [172]:
calculer_valeur_null(df,'VendorID')

+--------+
|VendorID|
+--------+
|       0|
+--------+

In [173]:
#les veleurs unique dans vendorid
df.select('VendorID').distinct().show()

+--------+
|VendorID|
+--------+
|       1|
|       2|
+--------+

In [174]:
df_dim_vendeur = [(1,'Creative Mobile Technologies, LLC'),
                  (2,'VeriFone Inc')]
colone = ['id_vendeur','nom_vendeur']
df_vendeur_dim = spark.createDataFrame(df_dim_vendeur,colone)

In [175]:
df_vendeur_dim.show()

+----------+--------------------+
|id_vendeur|         nom_vendeur|
+----------+--------------------+
|         1|Creative Mobile T...|
|         2|        VeriFone Inc|
+----------+--------------------+

In [176]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: date (nullable = true)
 |-- lpep_dropoff_datetime: date (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = false)
 |-- trip_type: double (nullable = false)
 |-- congestion_surcharge: double (nullable = true)
 |-- idda_te: string (nullable = true)
 |-- id_date_finale: string (nullable = true)

# ***creation de la table de fait ***

In [177]:
#creation de table de fait
colone = ['VendorID','store_and_fwd_flag','trip_type','idda_te','id_date_finale','payment_type','RatecodeID','PULocationID','DOLocationID','passenger_count','trip_distance','fare_amount','extra','mta_tax','tip_amount','tolls_amount','ehail_fee','improvement_surcharge','total_amount','congestion_surcharge']
fact_table = df.select(*colone)
fact_table.show()

+--------+------------------+---------+--------------+--------------+------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+--------------------+
|VendorID|store_and_fwd_flag|trip_type|       idda_te|id_date_finale|payment_type|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|congestion_surcharge|
+--------+------------------+---------+--------------+--------------+------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+--------------------+
|       2|                 N|      1.0|20220101000000|20220101000000|         2.0|       1.0|          42|          42|            1.0|         0.44|        3.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         4.8|                 0.0|
|       1|                 N|      1.0|20220101000000|20220101000000|         2.0|       1.0|         116|          41|            1.0|          2.1|        9.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        10.8|                 0.0|
|       1|                 N|      1.0|20220101000000|20220101000000|         1.0|       1.0|          41|         140|            1.0|          3.7|       14.5| 3.25|    0.5|       4.6|         0.0|     NULL|                  0.3|       23.15|                2.75|
|       2|                 N|      1.0|20220101000000|20220101000000|         2.0|       1.0|         181|         181|            1.0|         1.69|        8.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         9.3|                 0.0|
|       2|                 N|      1.0|20220101000000|20220101000000|         1.0|       1.0|          33|         170|            1.0|         6.26|       22.0|  0.5|    0.5|      5.21|         0.0|     NULL|                  0.3|       31.26|                2.75|
|       1|                 N|      1.0|20220101000000|20220101000000|         2.0|       1.0|         150|         210|            1.0|          1.3|        7.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|                 0.0|
|       2|                 N|      1.0|20220101000000|20220101000000|         2.0|       1.0|          66|          67|            1.0|         6.47|       22.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        23.8|                 0.0|
|       2|                 N|      1.0|20220101000000|20220101000000|         2.0|       1.0|          40|         195|            1.0|         1.15|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|                 0.0|
|       2|                 N|      1.0|20220101000000|20220101000000|         2.0|       1.0|         112|          80|            1.0|          1.3|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|                 0.0|
|       2|                 N|      1.0|20220101000000|20220101000000|         1.0|       1.0|         256|         186|            1.0|         4.75|       17.0|  0.5|    0.5|      4.21|         0.0|     NULL|                  0.3|       25.26|                2.75|
|       2|                 N|      1.0|20220131000000|20220131000000|         1.0|       1.0|          75|           4|            1.0|         6.03|       18.5|  0.5|    0.5|       1.5|         0.0|     NULL|                  0.3|       24.05|                2.75|
|       2|                 N|      1.0|20220101000000|20220101000000|         2.0|       1.0|          41|         116|            1.0|         2.82|       12.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        13.8|                 0.0|
|       2|                 N|      1.0|20220101000000|20220101000000|         1.0|       1.0|          75|          74|            1.0|          0.7|        4.5|  0.5|    0.5|      1.45|         0.0|     NULL|                  0.3|        7.25|                 0.0|
|       2|                 N|      1.0|20220101000000|20220101000000|         2.0|       1.0|          74|         260|            1.0|         5.48|       17.5|  0.5|    0.5|       0.0|        6.55|     NULL|                  0.3|       25.35|                 0.0|
|       2|                 N|      1.0|20220101000000|20220101000000|         1.0|       1.0|          74|         231|            1.0|         7.54|       26.5|  0.5|    0.5|      6.11|         0.0|     NULL|                  0.3|       36.66|                2.75|
|       1|                 N|      1.0|20220101000000|20220101000000|         3.0|       1.0|          74|          42|            1.0|          0.9|        4.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         5.8|                 0.0|
|       1|                 N|      1.0|20220101000000|20220101000000|         1.0|       1.0|          41|          94|            1.0|          6.2|       21.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        22.8|                 0.0|
|       2|                 N|      2.0|20220101000000|20220101000000|         2.0|       5.0|         213|         174|            1.0|         5.57|       20.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|        20.3|                 0.0|
|       2|                 N|      1.0|20220101000000|20220101000000|         2.0|       1.0|          51|         185|            1.0|         1.87|        7.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|                 0.0|
|       2|                 N|      2.0|20220101000000|20220101000000|         2.0|       5.0|         185|         119|            1.0|          6.6|       25.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|        25.3|                 0.0|
+--------+------------------+---------+--------------+--------------+------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+--------------------+
only showing top 20 rows

In [178]:
#telecharger les table de dim et de fait en csv
df_type_payment_dim.write.csv('df_type_payment_dim.csv', header=True)
df_type_trip_dim.write.csv('df_type_trip_dim.csv', header=True)
table_dim_location.write.csv('table_dim_location.csv', header=True)
df_ratecode_dim.write.csv('df_ratecode_dim.csv', header=True)
df_vendeur_dim.write.csv('df_vendeur_dim.csv', header=True)
fact_table.write.csv('fact_table.csv', header=True)