<a href="https://colab.research.google.com/github/rabiizahnoune/azure_projet/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
from pyspark.sql import SparkSession

# Cr√©er une session Spark
spark = SparkSession.builder.appName("ColabPySpark").getOrCreate()

In [42]:
df = spark.read.parquet("/content/green_tripdata_2022-01.parquet")

In [43]:
df.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2022-01-01 00:14:21|  2022-01-01 00:15:33|                 N|       1.0|          42|          42|            1.0|         0.44|        3.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         4.8|         2.0|      1.0|                 0.0|
|       1| 2022-01-01 00:20:55|  2022-01-01 00:29:38|                 N|       1.0|         116|          41|            1.0|          2.1|        9.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        10.8|         2.0|      1.0|                 0.0|
|       1| 2022-01-01 00:57:02|  2022-01-01 01:13:14|                 N|       1.0|          41|         140|            1.0|          3.7|       14.5| 3.25|    0.5|       4.6|         0.0|     NULL|                  0.3|       23.15|         1.0|      1.0|                2.75|
|       2| 2022-01-01 00:07:42|  2022-01-01 00:15:57|                 N|       1.0|         181|         181|            1.0|         1.69|        8.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         9.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:07:50|  2022-01-01 00:28:52|                 N|       1.0|          33|         170|            1.0|         6.26|       22.0|  0.5|    0.5|      5.21|         0.0|     NULL|                  0.3|       31.26|         1.0|      1.0|                2.75|
|       1| 2022-01-01 00:47:57|  2022-01-01 00:54:09|                 N|       1.0|         150|         210|            1.0|          1.3|        7.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:13:38|  2022-01-01 00:33:50|                 N|       1.0|          66|          67|            1.0|         6.47|       22.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        23.8|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:43:00|  2022-01-01 00:49:20|                 N|       1.0|          40|         195|            1.0|         1.15|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:41:04|  2022-01-01 00:47:04|                 N|       1.0|         112|          80|            1.0|          1.3|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:51:07|  2022-01-01 01:09:31|                 N|       1.0|         256|         186|            1.0|         4.75|       17.0|  0.5|    0.5|      4.21|         0.0|     NULL|                  0.3|       25.26|         1.0|      1.0|                2.75|
|       2| 2021-12-31 23:44:03|  2021-12-31 23:57:25|                 N|       1.0|          75|           4|            1.0|         6.03|       18.5|  0.5|    0.5|       1.5|         0.0|     NULL|                  0.3|       24.05|         1.0|      1.0|                2.75|
|       2| 2022-01-01 00:06:59|  2022-01-01 00:21:24|                 N|       1.0|          41|         116|            1.0|         2.82|       12.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        13.8|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:47:35|  2022-01-01 00:50:20|                 N|       1.0|          75|          74|            1.0|          0.7|        4.5|  0.5|    0.5|      1.45|         0.0|     NULL|                  0.3|        7.25|         1.0|      1.0|                 0.0|
|       2| 2022-01-01 00:10:25|  2022-01-01 23:10:29|                 N|       1.0|          74|         260|            1.0|         5.48|       17.5|  0.5|    0.5|       0.0|        6.55|     NULL|                  0.3|       25.35|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:52:27|  2022-01-01 01:25:16|                 N|       1.0|          74|         231|            1.0|         7.54|       26.5|  0.5|    0.5|      6.11|         0.0|     NULL|                  0.3|       36.66|         1.0|      1.0|                2.75|
|       1| 2022-01-01 00:47:31|  2022-01-01 00:49:51|                 N|       1.0|          74|          42|            1.0|          0.9|        4.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         5.8|         3.0|      1.0|                 0.0|
|       1| 2022-01-01 00:59:10|  2022-01-01 01:21:02|                 N|       1.0|          41|          94|            1.0|          6.2|       21.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        22.8|         1.0|      1.0|                 0.0|
|       2| 2022-01-01 00:12:00|  2022-01-01 00:26:26|                 N|       5.0|         213|         174|            1.0|         5.57|       20.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|        20.3|         2.0|      2.0|                 0.0|
|       2| 2022-01-01 00:47:15|  2022-01-01 00:53:07|                 N|       1.0|          51|         185|            1.0|         1.87|        7.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:54:40|  2022-01-01 01:17:02|                 N|       5.0|         185|         119|            1.0|          6.6|       25.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|        25.3|         2.0|      2.0|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [44]:
from pyspark.sql.functions import col

In [45]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- lpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [46]:
[(col.name, col.dataType) for col in df.schema]

[('VendorID', LongType()),
 ('lpep_pickup_datetime', TimestampNTZType()),
 ('lpep_dropoff_datetime', TimestampNTZType()),
 ('store_and_fwd_flag', StringType()),
 ('RatecodeID', DoubleType()),
 ('PULocationID', LongType()),
 ('DOLocationID', LongType()),
 ('passenger_count', DoubleType()),
 ('trip_distance', DoubleType()),
 ('fare_amount', DoubleType()),
 ('extra', DoubleType()),
 ('mta_tax', DoubleType()),
 ('tip_amount', DoubleType()),
 ('tolls_amount', DoubleType()),
 ('ehail_fee', IntegerType()),
 ('improvement_surcharge', DoubleType()),
 ('total_amount', DoubleType()),
 ('payment_type', DoubleType()),
 ('trip_type', DoubleType()),
 ('congestion_surcharge', DoubleType())]

In [47]:
#changer le typde de colone date
df = df.withColumn("lpep_pickup_datetime", col("lpep_pickup_datetime").cast("timestamp"))

In [48]:
from pyspark.sql.functions import min, max

# R√©cup√©rer les dates min et max
min_max_dates = df.select(
    min("lpep_pickup_datetime").alias("min_date"),
    max("lpep_pickup_datetime").alias("max_date")
).collect()

min_date = min_max_dates[0]["min_date"]
max_date = min_max_dates[0]["max_date"]

print(f"üìÖ Plage de dates : {min_date} ‚ûù {max_date}")

üìÖ Plage de dates : 2009-01-01 00:34:01 ‚ûù 2022-01-31 23:57:37

In [49]:
from pyspark.sql.functions import year

# Filtrer les lignes o√π l'ann√©e est diff√©rente de 2022
df_not_2022 = df.filter(year("lpep_pickup_datetime") != 2022)

# Compter ces lignes
count_not_2022 = df_not_2022.count()

print(f"üìä Nombre de lignes o√π la date n'est pas en 2022 : {count_not_2022}")

üìä Nombre de lignes o√π la date n'est pas en 2022 : 4

In [50]:
from pyspark.sql.functions import col, year, month, dayofmonth, to_date, lit,when,lpad,concat

# Remplacer l'ann√©e par 2022 tout en gardant le mois et le jour
df = df.withColumn(
    "lpep_pickup_datetime",
    when(year(col("lpep_pickup_datetime")) != 2022,
         to_date(
             concat(lit("2022-"),
                    lpad(month(col("lpep_pickup_datetime")).cast("string"), 2, "0"),
                    lit("-"),
                    lpad(dayofmonth(col("lpep_pickup_datetime")).cast("string"), 2, "0")),
             "yyyy-MM-dd")
    ).otherwise(col("lpep_pickup_datetime"))
)

# V√©rifier les premi√®res lignes pour s'assurer du changement
df.show(10)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2022-01-01 00:14:21|  2022-01-01 00:15:33|                 N|       1.0|          42|          42|            1.0|         0.44|        3.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         4.8|         2.0|      1.0|                 0.0|
|       1| 2022-01-01 00:20:55|  2022-01-01 00:29:38|                 N|       1.0|         116|          41|            1.0|          2.1|        9.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        10.8|         2.0|      1.0|                 0.0|
|       1| 2022-01-01 00:57:02|  2022-01-01 01:13:14|                 N|       1.0|          41|         140|            1.0|          3.7|       14.5| 3.25|    0.5|       4.6|         0.0|     NULL|                  0.3|       23.15|         1.0|      1.0|                2.75|
|       2| 2022-01-01 00:07:42|  2022-01-01 00:15:57|                 N|       1.0|         181|         181|            1.0|         1.69|        8.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         9.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:07:50|  2022-01-01 00:28:52|                 N|       1.0|          33|         170|            1.0|         6.26|       22.0|  0.5|    0.5|      5.21|         0.0|     NULL|                  0.3|       31.26|         1.0|      1.0|                2.75|
|       1| 2022-01-01 00:47:57|  2022-01-01 00:54:09|                 N|       1.0|         150|         210|            1.0|          1.3|        7.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:13:38|  2022-01-01 00:33:50|                 N|       1.0|          66|          67|            1.0|         6.47|       22.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        23.8|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:43:00|  2022-01-01 00:49:20|                 N|       1.0|          40|         195|            1.0|         1.15|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:41:04|  2022-01-01 00:47:04|                 N|       1.0|         112|          80|            1.0|          1.3|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|         2.0|      1.0|                 0.0|
|       2| 2022-01-01 00:51:07|  2022-01-01 01:09:31|                 N|       1.0|         256|         186|            1.0|         4.75|       17.0|  0.5|    0.5|      4.21|         0.0|     NULL|                  0.3|       25.26|         1.0|      1.0|                2.75|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 10 rows

In [51]:
#checker outliers de date = 2019
from pyspark.sql.functions import year

# Filtrer les lignes o√π l'ann√©e est diff√©rente de 2022
df_not_2022 = df.filter(year("lpep_pickup_datetime") != 2022)

# Compter ces lignes
count_not_2022 = df_not_2022.count()

print(f"üìä Nombre de lignes o√π la date n'est pas en 2022 : {count_not_2022}")

üìä Nombre de lignes o√π la date n'est pas en 2022 : 0

In [52]:
#voir plage de dates
from pyspark.sql.functions import min, max

# R√©cup√©rer les dates min et max
min_max_dates = df.select(
    min("lpep_pickup_datetime").alias("min_date"),
    max("lpep_pickup_datetime").alias("max_date")
).collect()

min_date = min_max_dates[0]["min_date"]
max_date = min_max_dates[0]["max_date"]

print(f"üìÖ Plage de dates : {min_date} ‚ûù {max_date}")

üìÖ Plage de dates : 2022-01-01 00:00:00 ‚ûù 2022-12-31 00:00:00

***creation d un table dim_Date_depart***

In [53]:
# G√©n√©rer l'ID unique bas√© sur la date et l'heure

from pyspark.sql.functions import col, year, month, dayofmonth, hour, minute, second, concat, lpad, lit
df = df.withColumn(
    "idda_te",
    concat(
        year(col("lpep_pickup_datetime")),
        lpad(month(col("lpep_pickup_datetime")).cast("string"), 2, "0"),
        lpad(dayofmonth(col("lpep_pickup_datetime")).cast("string"), 2, "0"),
        lpad(hour(col("lpep_pickup_datetime")).cast("string"), 2, "0"),
        lpad(minute(col("lpep_pickup_datetime")).cast("string"), 2, "0"),
        lpad(second(col("lpep_pickup_datetime")).cast("string"), 2, "0")
    )
)

In [54]:
# Construire la table de dimension date (dim_date)
df_dim_date_depart = df.select(
    "idda_te",  # Identifiant unique
    year(col("lpep_pickup_datetime")).alias("year"),
    month(col("lpep_pickup_datetime")).alias("month"),
    dayofmonth(col("lpep_pickup_datetime")).alias("day"),
    hour(col("lpep_pickup_datetime")).alias("hour"),
    minute(col("lpep_pickup_datetime")).alias("minute"),
    second(col("lpep_pickup_datetime")).alias("second"),
    "lpep_pickup_datetime"  # Ajouter la colonne de date-heure originale
)

# Afficher les premi√®res lignes pour v√©rifier
df_dim_date_depart.show(10, truncate=False)

+--------------+----+-----+---+----+------+------+--------------------+
|idda_te       |year|month|day|hour|minute|second|lpep_pickup_datetime|
+--------------+----+-----+---+----+------+------+--------------------+
|20220101001421|2022|1    |1  |0   |14    |21    |2022-01-01 00:14:21 |
|20220101002055|2022|1    |1  |0   |20    |55    |2022-01-01 00:20:55 |
|20220101005702|2022|1    |1  |0   |57    |2     |2022-01-01 00:57:02 |
|20220101000742|2022|1    |1  |0   |7     |42    |2022-01-01 00:07:42 |
|20220101000750|2022|1    |1  |0   |7     |50    |2022-01-01 00:07:50 |
|20220101004757|2022|1    |1  |0   |47    |57    |2022-01-01 00:47:57 |
|20220101001338|2022|1    |1  |0   |13    |38    |2022-01-01 00:13:38 |
|20220101004300|2022|1    |1  |0   |43    |0     |2022-01-01 00:43:00 |
|20220101004104|2022|1    |1  |0   |41    |4     |2022-01-01 00:41:04 |
|20220101005107|2022|1    |1  |0   |51    |7     |2022-01-01 00:51:07 |
+--------------+----+-----+---+----+------+------+--------------------+
only showing top 10 rows

# ***creation de table de dimension dim_date_finale***

In [55]:
from pyspark.sql.functions import year

# Filtrer les lignes o√π l'ann√©e est diff√©rente de 2022
df_not_2022 = df.filter(year("lpep_dropoff_datetime") != 2022)

# Compter ces lignes
count_not_2022 = df_not_2022.count()

print(f"üìä Nombre de lignes o√π la date n'est pas en 2022 : {count_not_2022}")

üìä Nombre de lignes o√π la date n'est pas en 2022 : 3

In [57]:
from pyspark.sql.functions import col, year, month, dayofmonth, to_date, lit,when,lpad,concat

# Remplacer l'ann√©e par 2022 tout en gardant le mois et le jour
df = df.withColumn(
    "lpep_dropoff_datetime",
    when(year(col("lpep_dropoff_datetime")) != 2022,
         to_date(
             concat(lit("2022-"),
                    lpad(month(col("lpep_dropoff_datetime")).cast("string"), 2, "0"),
                    lit("-"),
                    lpad(dayofmonth(col("lpep_dropoff_datetime")).cast("string"), 2, "0")),
             "yyyy-MM-dd")
    ).otherwise(col("lpep_dropoff_datetime"))
)

# V√©rifier les premi√®res lignes pour s'assurer du changement

from pyspark.sql.functions import year

# Filtrer les lignes o√π l'ann√©e est diff√©rente de 2022
df_not_2022 = df.filter(year("lpep_dropoff_datetime") != 2022)

# Compter ces lignes
count_not_2022 = df_not_2022.count()

print(f"üìä Nombre de lignes o√π la date n'est pas en 2022 : {count_not_2022}")

üìä Nombre de lignes o√π la date n'est pas en 2022 : 0

In [58]:
# G√©n√©rer l'ID unique bas√© sur la date et l'heure

from pyspark.sql.functions import col, year, month, dayofmonth, hour, minute, second, concat, lpad, lit
df = df.withColumn(
    "id_date_finale",
    concat(
        year(col("lpep_dropoff_datetime")),
        lpad(month(col("lpep_dropoff_datetime")).cast("string"), 2, "0"),
        lpad(dayofmonth(col("lpep_dropoff_datetime")).cast("string"), 2, "0"),
        lpad(hour(col("lpep_dropoff_datetime")).cast("string"), 2, "0"),
        lpad(minute(col("lpep_dropoff_datetime")).cast("string"), 2, "0"),
        lpad(second(col("lpep_dropoff_datetime")).cast("string"), 2, "0")
    )
)

In [59]:
# Construire la table de dimension date (dim_date)
df_dim_date_finale = df.select(
    "idda_te",  # Identifiant unique
    year(col("lpep_pickup_datetime")).alias("year"),
    month(col("lpep_pickup_datetime")).alias("month"),
    dayofmonth(col("lpep_pickup_datetime")).alias("day"),
    hour(col("lpep_pickup_datetime")).alias("hour"),
    minute(col("lpep_pickup_datetime")).alias("minute"),
    second(col("lpep_pickup_datetime")).alias("second"),
    "lpep_pickup_datetime"  # Ajouter la colonne de date-heure originale
)

# Afficher les premi√®res lignes pour v√©rifier
df_dim_date_finale.show(10, truncate=False)

+--------------+----+-----+---+----+------+------+--------------------+
|idda_te       |year|month|day|hour|minute|second|lpep_pickup_datetime|
+--------------+----+-----+---+----+------+------+--------------------+
|20220101001421|2022|1    |1  |0   |14    |21    |2022-01-01 00:14:21 |
|20220101002055|2022|1    |1  |0   |20    |55    |2022-01-01 00:20:55 |
|20220101005702|2022|1    |1  |0   |57    |2     |2022-01-01 00:57:02 |
|20220101000742|2022|1    |1  |0   |7     |42    |2022-01-01 00:07:42 |
|20220101000750|2022|1    |1  |0   |7     |50    |2022-01-01 00:07:50 |
|20220101004757|2022|1    |1  |0   |47    |57    |2022-01-01 00:47:57 |
|20220101001338|2022|1    |1  |0   |13    |38    |2022-01-01 00:13:38 |
|20220101004300|2022|1    |1  |0   |43    |0     |2022-01-01 00:43:00 |
|20220101004104|2022|1    |1  |0   |41    |4     |2022-01-01 00:41:04 |
|20220101005107|2022|1    |1  |0   |51    |7     |2022-01-01 00:51:07 |
+--------------+----+-----+---+----+------+------+--------------------+
only showing top 10 rows

# ***table Dim_payment***

In [37]:
df.select("payment_type").distinct().show()

+------------+
|payment_type|
+------------+
|         1.0|
|         4.0|
|        NULL|
|         3.0|
|         2.0|
|         5.0|
+------------+

In [35]:
# Cr√©er la table de dimension type_payment
data_type_payment = [
    (1, "credit_card"),
    (2, "cash"),
    (3, "no_charge"),
    (4, "dispute"),
    (5, "unknown"),
    (6, "voided_trip")
]

# Colonnes : id_payment (identifiant) et type_payment (libell√©)
columns = ["id_payment", "type_payment"]

# Cr√©er un DataFrame PySpark pour la table de dimension
df_type_payment = spark.createDataFrame(data_type_payment, columns)

# Afficher la table de dimension type_payment
df_type_payment.show()

+----------+------------+
|id_payment|type_payment|
+----------+------------+
|         1| credit_card|
|         2|        cash|
|         3|   no_charge|
|         4|     dispute|
|         5|     unknown|
|         6| voided_trip|
+----------+------------+

In [38]:
df.select('trip_type').distinct().show()

+---------+
|trip_type|
+---------+
|      1.0|
|      2.0|
|     NULL|
+---------+

In [40]:
#creer la table de dimension type_trip
data_type_trip = [
    (1, "Street-hail"),
    (2, "Dispatch"),
    (3, "Unknown")
]

columns = ['id_trip', 'type_trip']

df_type_trip = spark.createDataFrame(data_type_trip, columns)

df_type_trip.show()

+-------+-----------+
|id_trip|  type_trip|
+-------+-----------+
|      1|Street-hail|
|      2|   Dispatch|
|      3|    Unknown|
+-------+-----------+

# ***creation de la table de fait ***